body {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header .imge {
  height: 2rem;
  width: 3rem;
  align-self: flex-start;
}

header .imge img {
  height: 100%;
  width: 100%;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.img-container {
  max-width: 800px;
}

.img-container img {
  width: 100%;
}
